* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}
.header{
  text-align: center;
  margin-top:40px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navigation .item {
  color: white;
}

img {
    width: 40%;
    margin-bottom: 50px;
  }

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  img {
    width: 90%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.project {
  margin: auto;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
